Package: com.jinlin.feilaifeiqudemo
Name: FeiLaiFeiQuDemo
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: jinlin
Author: jinlin
Section: Utilities
